
//  1.-Mixins
    2.-HTML

// ------------------------------------------  1.-Mixins  ------------------------------------------      
mixin tabla(id, titulo, ths)
    h3 #{titulo}
    
    table(id='#{id}').row
        thead
            tr
                each th, i in ths
                    if th.cla === undefined
                        th #{th.hd}
                    else
                        th(class='#{th.cla}') #{th.hd}
        tbody
        
    br
    div.row
        button(type='button' class='button tiny expand success custom-button')#btnAgregar
            i(class='fa fa-plus') &nbsp
            span.show-for-medium-up Agregar

// ------------------------------------------  2.-HTML  ------------------------------------------
!!!5
html
  head
    title #{title}
    link(rel='stylesheet', type='text/css', href='/css/foundation.min.css')
    link(rel='stylesheet', type='text/css', href='/css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='/css/typeahead.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

    script(type='text/javascript', src='/js/jquery-2.0.3.min.js')
    script(type='text/javascript', src='/js/typeahead.js')
    script(type='text/javascript', src='/js/jquery.nicescroll.min.js')
    script(type='text/javascript', src='/js/foundation.min.js')
    script(type='text/javascript', src='/js/lodash.underscore.min.js')
    script(type='text/javascript', src='/js/backbone-min.js')
    script(type='text/javascript', src='/js/mousetrap.min.js')
    script(type='text/javascript', src='/js/mousetrap-bind-dictionary.min.js')
    script(type='text/javascript', src='/js/jquery.keyfilter.js')
    script(type='text/javascript', src='/js/handlebars.js')
    script(type='text/javascript', src='/js/cApp.js')
    
    script(id='tmp_cbo_familias', type='text/x-handlebars-template')
        {{#data}}
        option(data-ne='{{sku}}' id='{{_id}}') {{nombre}}        
        {{/data}}
  
  body
    header
        nav(class='top-bar' data-topbar)
            ul.title-area
                li.name
                    h1
                        a NT
                li.toggle-topbar.menu-icon
                    a(href='#') Menu
            
            section.top-bar-section
                ul(class='left')
                    li
                        a(href='#equipo')
                            i(class='fa fa-cogs fa-inverse') &nbsp
                            span Equipo
                    li
                        a(href='#cliente')
                            i(class='fa fa-group fa-inverse') &nbsp
                            span Clientes
                ul.right
                    li.divider
                    li.has-dropdown
                        a(href='#')
                            i(class='fa fa-user fa-inverse') &nbsp
                            span Admin
                        ul.dropdown
                            li
                                a(href='#')
                                    i(class='fa fa-sign-out fa-inverse') &nbsp
                                    span Cerrar sesion
    br
    main
        section(class='reveal-modal' data-reveal)#pnlEquipo
            form.row
                div(class='small-12 columns')
                    h3 Equipo
                
                div(class='small-12 medium-6 columns')
                    label No. Ecomonomico
                        div(class='row collapse')
                            div(class='small-3 columns')
                                span(class='prefix') NT-
                            div(class='small-9 columns')
                                input(type='text' placeholder='Numero economico...')#txtNE
                div(class='small-12 medium-6 columns')
                    label Familia:
                        input(type='text')#tyaFamilias
                
                div(class='small-12 medium-6 columns')
                    label Nombre:
                        input(type='text' placeholder='Nombre...')#txtNombre
                div(class='small-12 medium-6 columns')
                    label Marca:
                        input(type='text' placeholder='Marca...')#txtMarca
                
                div(class='small-12 columns')
                    label Descripcion:
                        textarea(placeholder='Descripcion...')#txaDescripcion
                
                div(class='small-12 medium-4 columns')
                    label Dias trabajados:
                        input(type='text' placeholder='Dias trabajados...')#txtDiasTrabajo
                div(class='small-12 medium-4 columns')
                    label Precio por dia:
                        input(type='text' placeholder='Precio por dia...')#txtPrecioDia
                div(class='small-12 medium-4 columns')
                    label Inventario:
                        input(type='text' placeholder='Cantidad existente...')#txtCantidad
                
                div(class='small-12 columns')
                    button(type='button' class='btn tiny success')#btnGuardar
                        i(class='fa fa-check')
                        |  Guardar
                    &nbsp
                    button(type='button' class='btn tiny')#btnLimpiar
                        i(class='fa fa-magic')
                        |  Limpiar
                    &nbsp
                    button(type='button' class='btn tiny alert')#btnCancelar
                        i(class='fa fa-ban')
                        |  Cancelar

        section(class='reveal-modal' data-reveal)#pnlCliente
            form.row
                div(class='small-12 columns')
                    h3 Cliente
                
                div(class='small-12 medium-4 columns')
                    label Nombres:
                        input(type='text' placeholder='Nombre...')#txtNombre
                div(class='small-12 medium-4 columns')
                    label Apellido paterno:
                        input(type='text' placeholder='Apellido paterno...')#txtAPaterno
                div(class='small-12 medium-4 columns')
                    label Apellido materno:
                        input(type='text' placeholder='Apellido materno...')#txtAMaterno
                
                div(class='small-10 columns')
                    label Calle:
                        input(type='text' placeholder='Calle...')#txtCalle
                div(class='small-2 columns')
                    label Numero:
                        input(type='text' placeholder='Numero...')#txtNumero
                
                div(class='small-12 medium-6 columns')
                    label Colonia:
                        input(type='text' placeholder='Colonia...')#txtColonia
                div(class='small-12 medium-6 columns')
                    label Municipio:
                        input(type='text' placeholder='Municipio...' value='Durango')#txtMunicipio
                
                div(class='small-12 medium-6 columns')
                    label RFC:
                        input(type='text' placeholder='RFC...')#txtRFC
                div(class='small-12 medium-6 columns')
                    label Telefono:
                        input(type='text' placeholder='Telefono...')#txtTelefono
                
                div(class='small-12 columns')
                    label Identificacion:
                        input(type='text' placeholder='IFE, Pasaporte, Licencia de manejo, etc...')#txtIdentificacion
                
                div(class='small-12 columns')
                    button(type='button' class='btn tiny success')#btnGuardar
                        i(class='fa fa-check')
                        |  Guardar
                    &nbsp
                    button(type='button' class='btn tiny')#btnLimpiar
                        i(class='fa fa-magic')
                        |  Limpiar
                    &nbsp
                    button(type='button' class='btn tiny alert')#btnCancelar
                        i(class='fa fa-ban')
                        |  Cancelar
        section(class='reveal-modal1' data-reveal1)#pnlContrato
            div contrato
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        